Code/webservices-external/src/main/resources/wsdl/BenefitClaimWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://benefitclaim.services.vetsnet.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://benefitclaim.services.vetsnet.vba.va.gov/" name="BenefitClaimWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://benefitclaim.services.vetsnet.vba.va.gov/" schemaLocation="BenefitClaimWebService.xsd" />
</xsd:schema>
</types>
<message name="updateBnftClaim">
<part name="parameters" element="tns:updateBnftClaim" />
</message>
<message name="updateBnftClaimResponse">
<part name="parameters" element="tns:updateBnftClaimResponse" />
</message>
<message name="MessageException">
<part name="fault" element="tns:MessageException" />
</message>
<message name="findBnftClaim">
<part name="parameters" element="tns:findBnftClaim" />
</message>
<message name="findBnftClaimResponse">
<part name="parameters" element="tns:findBnftClaimResponse" />
</message>
<message name="findBnftClaimByPtcpntVetId">
<part name="parameters" element="tns:findBnftClaimByPtcpntVetId" />
</message>
<message name="findBnftClaimByPtcpntVetIdResponse">
<part name="parameters" element="tns:findBnftClaimByPtcpntVetIdResponse" />
</message>
<message name="findBnftClaimByUserPtcpntId">
<part name="parameters" element="tns:findBnftClaimByUserPtcpntId" />
</message>
<message name="findBnftClaimByUserPtcpntIdResponse">
<part name="parameters" element="tns:findBnftClaimByUserPtcpntIdResponse" />
</message>
<message name="findBnftClaimByFileNumber">
<part name="parameters" element="tns:findBnftClaimByFileNumber" />
</message>
<message name="findBnftClaimByFileNumberResponse">
<part name="parameters" element="tns:findBnftClaimByFileNumberResponse" />
</message>
<message name="findBnftClaimsByBnftClaimIds">
<part name="parameters" element="tns:findBnftClaimsByBnftClaimIds" />
</message>
<message name="findBnftClaimsByBnftClaimIdsResponse">
<part name="parameters" element="tns:findBnftClaimsByBnftClaimIdsResponse" />
</message>
<message name="brokerBnftClaims">
<part name="parameters" element="tns:brokerBnftClaims" />
</message>
<message name="brokerBnftClaimsResponse">
<part name="parameters" element="tns:brokerBnftClaimsResponse" />
</message>
<message name="findBnftClaimSpeclIssueBnftClaimId">
<part name="parameters" element="tns:findBnftClaimSpeclIssueBnftClaimId" />
</message>
<message name="findBnftClaimSpeclIssueBnftClaimIdResponse">
<part name="parameters" element="tns:findBnftClaimSpeclIssueBnftClaimIdResponse" />
</message>
<message name="findBnftClaimSpeclIssueSpeclIssueTypeNm">
<part name="parameters" element="tns:findBnftClaimSpeclIssueSpeclIssueTypeNm" />
</message>
<message name="findBnftClaimSpeclIssueSpeclIssueTypeNmResponse">
<part name="parameters" element="tns:findBnftClaimSpeclIssueSpeclIssueTypeNmResponse" />
</message>
<message name="findBnftClaimSpeclIssue">
<part name="parameters" element="tns:findBnftClaimSpeclIssue" />
</message>
<message name="findBnftClaimSpeclIssueResponse">
<part name="parameters" element="tns:findBnftClaimSpeclIssueResponse" />
</message>
<message name="findBnftClaimDetailByFileNumber">
<part name="parameters" element="tns:findBnftClaimDetailByFileNumber" />
</message>
<message name="findBnftClaimDetailByFileNumberResponse">
<part name="parameters" element="tns:findBnftClaimDetailByFileNumberResponse" />
</message>
<message name="findBnftClaimDetailByPtcpntId">
<part name="parameters" element="tns:findBnftClaimDetailByPtcpntId" />
</message>
<message name="findBnftClaimDetailByPtcpntIdResponse">
<part name="parameters" element="tns:findBnftClaimDetailByPtcpntIdResponse" />
</message>
<message name="findBnftClaimDetailByBnftClaimId">
<part name="parameters" element="tns:findBnftClaimDetailByBnftClaimId" />
</message>
<message name="findBnftClaimDetailByBnftClaimIdResponse">
<part name="parameters" element="tns:findBnftClaimDetailByBnftClaimIdResponse" />
</message>
<message name="insertBnftClaimSpeclIssue">
<part name="parameters" element="tns:insertBnftClaimSpeclIssue" />
</message>
<message name="insertBnftClaimSpeclIssueResponse">
<part name="parameters" element="tns:insertBnftClaimSpeclIssueResponse" />
</message>
<message name="deleteBnftClaimSpeclIssue">
<part name="parameters" element="tns:deleteBnftClaimSpeclIssue" />
</message>
<message name="deleteBnftClaimSpeclIssueResponse">
<part name="parameters" element="tns:deleteBnftClaimSpeclIssueResponse" />
</message>
<portType name="BenefitClaimWebService">
<operation name="updateBnftClaim">
<input message="tns:updateBnftClaim" />
<output message="tns:updateBnftClaimResponse" />
<fault message="tns:MessageException" name="MessageException" />
</operation>
<operation name="findBnftClaim">
<input message="tns:findBnftClaim" />
<output message="tns:findBnftClaimResponse" />
<fault message="tns:MessageException" name="MessageException" />
</operation>
<operation name="findBnftClaimByPtcpntVetId">
<input message="tns:findBnftClaimByPtcpntVetId" />
<output message="tns:findBnftClaimByPtcpntVetIdResponse" />
<fault message="tns:MessageException" name="MessageException" />
</operation>
<operation name="findBnftClaimByUserPtcpntId">
<input message="tns:findBnftClaimByUserPtcpntId" />
<output message="tns:findBnftClaimByUserPtcpntIdResponse" />
<fault message="tns:MessageException" name="MessageException" />
</operation>
<operation name="findBnftClaimByFileNumber">
<input message="tns:findBnftClaimByFileNumber" />
<output message="tns:findBnftClaimByFileNumberResponse" />
<fault message="tns:MessageException" name="MessageException" />
</operation>
<operation name="findBnftClaimsByBnftClaimIds">
<input message="tns:findBnftClaimsByBnftClaimIds" />
<output message="tns:findBnftClaimsByBnftClaimIdsResponse" />
<fault message="tns:MessageException" name="MessageException" />
</operation>
<operation name="brokerBnftClaims">
<input message="tns:brokerBnftClaims" />
<output message="tns:brokerBnftClaimsResponse" />
<fault message="tns:MessageException" name="MessageException" />
</operation>
<operation name="findBnftClaimSpeclIssueBnftClaimId">
<input message="tns:findBnftClaimSpeclIssueBnftClaimId" />
<output message="tns:findBnftClaimSpeclIssueBnftClaimIdResponse" />
<fault message="tns:MessageException" name="MessageException" />
</operation>
<operation name="findBnftClaimSpeclIssueSpeclIssueTypeNm">
<input message="tns:findBnftClaimSpeclIssueSpeclIssueTypeNm" />
<output message="tns:findBnftClaimSpeclIssueSpeclIssueTypeNmResponse" />
<fault message="tns:MessageException" name="MessageException" />
</operation>
<operation name="findBnftClaimSpeclIssue">
<input message="tns:findBnftClaimSpeclIssue" />
<output message="tns:findBnftClaimSpeclIssueResponse" />
<fault message="tns:MessageException" name="MessageException" />
</operation>
<operation name="findBnftClaimDetailByFileNumber">
<input message="tns:findBnftClaimDetailByFileNumber" />
<output message="tns:findBnftClaimDetailByFileNumberResponse" />
<fault message="tns:MessageException" name="MessageException" />
</operation>
<operation name="findBnftClaimDetailByPtcpntId">
<input message="tns:findBnftClaimDetailByPtcpntId" />
<output message="tns:findBnftClaimDetailByPtcpntIdResponse" />
<fault message="tns:MessageException" name="MessageException" />
</operation>
<operation name="findBnftClaimDetailByBnftClaimId">
<input message="tns:findBnftClaimDetailByBnftClaimId" />
<output message="tns:findBnftClaimDetailByBnftClaimIdResponse" />
<fault message="tns:MessageException" name="MessageException" />
</operation>
<operation name="insertBnftClaimSpeclIssue">
<input message="tns:insertBnftClaimSpeclIssue" />
<output message="tns:insertBnftClaimSpeclIssueResponse" />
<fault message="tns:MessageException" name="MessageException" />
</operation>
<operation name="deleteBnftClaimSpeclIssue">
<input message="tns:deleteBnftClaimSpeclIssue" />
<output message="tns:deleteBnftClaimSpeclIssueResponse" />
<fault message="tns:MessageException" name="MessageException" />
</operation>
</portType>
<binding name="BenefitClaimWebServicePortBinding" type="tns:BenefitClaimWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="updateBnftClaim">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="MessageException">
<soap:fault name="MessageException" use="literal" />
</fault>
</operation>
<operation name="findBnftClaim">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="MessageException">
<soap:fault name="MessageException" use="literal" />
</fault>
</operation>
<operation name="findBnftClaimByPtcpntVetId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="MessageException">
<soap:fault name="MessageException" use="literal" />
</fault>
</operation>
<operation name="findBnftClaimByUserPtcpntId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="MessageException">
<soap:fault name="MessageException" use="literal" />
</fault>
</operation>
<operation name="findBnftClaimByFileNumber">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="MessageException">
<soap:fault name="MessageException" use="literal" />
</fault>
</operation>
<operation name="findBnftClaimsByBnftClaimIds">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="MessageException">
<soap:fault name="MessageException" use="literal" />
</fault>
</operation>
<operation name="brokerBnftClaims">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="MessageException">
<soap:fault name="MessageException" use="literal" />
</fault>
</operation>
<operation name="findBnftClaimSpeclIssueBnftClaimId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="MessageException">
<soap:fault name="MessageException" use="literal" />
</fault>
</operation>
<operation name="findBnftClaimSpeclIssueSpeclIssueTypeNm">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="MessageException">
<soap:fault name="MessageException" use="literal" />
</fault>
</operation>
<operation name="findBnftClaimSpeclIssue">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="MessageException">
<soap:fault name="MessageException" use="literal" />
</fault>
</operation>
<operation name="findBnftClaimDetailByFileNumber">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="MessageException">
<soap:fault name="MessageException" use="literal" />
</fault>
</operation>
<operation name="findBnftClaimDetailByPtcpntId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="MessageException">
<soap:fault name="MessageException" use="literal" />
</fault>
</operation>
<operation name="findBnftClaimDetailByBnftClaimId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="MessageException">
<soap:fault name="MessageException" use="literal" />
</fault>
</operation>
<operation name="insertBnftClaimSpeclIssue">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="MessageException">
<soap:fault name="MessageException" use="literal" />
</fault>
</operation>
<operation name="deleteBnftClaimSpeclIssue">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
<fault name="MessageException">
<soap:fault name="MessageException" use="literal" />
</fault>
</operation>
</binding>
<service name="BenefitClaimWebService">
<port name="BenefitClaimWebServicePort" binding="tns:BenefitClaimWebServicePortBinding">
<soap:address location="http://vbmsdev.vba.va.gov:80/BenefitClaimWebServiceBean/BenefitClaimWebService" />
</port>
</service>
</definitions>