Code/webservices-external/src/main/resources/wsdl/ClaimAssociationService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.rba.benefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.rba.benefits.vba.va.gov/" name="ClaimAssociationService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://services.rba.benefits.vba.va.gov/" schemaLocation="ClaimAssociationService.xsd" />
        </xsd:schema>
    </types>
    <message name="getClaimAssociation">
        <part name="parameters" element="tns:getClaimAssociation" />
    </message>
    <message name="getClaimAssociationResponse">
        <part name="parameters" element="tns:getClaimAssociationResponse" />
    </message>
    <message name="BenefitsException">
        <part name="fault" element="tns:BenefitsException" />
    </message>
    <message name="manageClaimAssociation">
        <part name="parameters" element="tns:manageClaimAssociation" />
    </message>
    <message name="manageClaimAssociationResponse">
        <part name="parameters" element="tns:manageClaimAssociationResponse" />
    </message>
    <portType name="ClaimAssociationServiceRemote">
        <operation name="getClaimAssociation">
            <input message="tns:getClaimAssociation" />
            <output message="tns:getClaimAssociationResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="manageClaimAssociation">
            <input message="tns:manageClaimAssociation" />
            <output message="tns:manageClaimAssociationResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
    </portType>
    <binding name="ClaimAssociationServicePortBinding" type="tns:ClaimAssociationServiceRemote">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="getClaimAssociation">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="manageClaimAssociation">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
    </binding>
    <service name="ClaimAssociationService">
        <port name="ClaimAssociationServicePort" binding="tns:ClaimAssociationServicePortBinding">
            <soap:address location="http://bepdev.vba.va.gov:80/ClaimAssociationService/ClaimAssociationService" />
        </port>
    </service>
</definitions>