Code/webservices-external/src/main/resources/wsdl/ClaimAssociationService.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<xs:schema xmlns:tns="http://services.rba.benefits.vba.va.gov/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.rba.benefits.vba.va.gov/">

    <xs:element name="BenefitsException" nillable="true" type="tns:benefitsExceptionBean" />

    <xs:element name="getClaimAssociation" type="tns:getClaimAssociation" />

    <xs:element name="getClaimAssociationResponse" type="tns:getClaimAssociationResponse" />

    <xs:element name="manageClaimAssociation" type="tns:manageClaimAssociation" />

    <xs:element name="manageClaimAssociationResponse" type="tns:manageClaimAssociationResponse" />

    <xs:complexType name="manageClaimAssociation">
        <xs:sequence>
            <xs:element name="RBAClaim" type="tns:rbaClaim" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="rbaClaim">
        <xs:complexContent>
            <xs:extension base="tns:transferObject">
                <xs:sequence>
                    <xs:element name="bnftClmTc" type="xs:string" minOccurs="0" />
                    <xs:element name="bnftClmTn" type="xs:string" minOccurs="0" />
                    <xs:element name="claimRcvdDt" type="xs:dateTime" minOccurs="0" />
                    <xs:element name="clmId" type="xs:string" minOccurs="0" />
                    <xs:element name="clmntNm" type="xs:string" minOccurs="0" />
                    <xs:element name="endPrdctTypeCd" type="xs:string" minOccurs="0" />
                    <xs:element name="lockedInd" type="xs:string" minOccurs="0" />
                    <xs:element name="prflDt" type="xs:dateTime" minOccurs="0" />
                    <xs:element name="ptcpntClmntId" type="xs:string" minOccurs="0" />
                    <xs:element name="ptcpntVetId" type="xs:string" minOccurs="0" />
                    <xs:element name="ratingDt" type="xs:dateTime" minOccurs="0" />
                    <xs:element name="rbaClmSn" type="xs:string" minOccurs="0" />
                    <xs:element name="rbaUserNm" type="xs:string" minOccurs="0" />
                    <xs:element name="statusTc" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="transferObject" abstract="true">
        <xs:sequence>
            <xs:element name="callId" type="xs:long" minOccurs="0" />
            <xs:element name="jrnDt" type="xs:dateTime" minOccurs="0" />
            <xs:element name="jrnLctnId" type="xs:string" minOccurs="0" />
            <xs:element name="jrnObjId" type="xs:string" minOccurs="0" />
            <xs:element name="jrnSttTc" type="xs:string" minOccurs="0" />
            <xs:element name="jrnUserId" type="xs:string" minOccurs="0" />
            <xs:element name="parentId" type="xs:long" minOccurs="0" />
            <xs:element name="parentName" type="xs:string" minOccurs="0" />
            <xs:element name="rowCnt" type="xs:long" minOccurs="0" />
            <xs:element name="rowId" type="xs:long" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="manageClaimAssociationResponse">
        <xs:sequence>
            <xs:element name="ClaimAssociation" type="tns:claimAssociation" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="claimAssociation">
        <xs:sequence>
            <xs:element name="benefitClaims" type="tns:benefitClaim" nillable="true" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="rbaClaims" type="tns:rbaClaim" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="benefitClaim">
        <xs:complexContent>
            <xs:extension base="tns:transferObject">
                <xs:sequence>
                    <xs:element name="bnftClmTc" type="xs:string" minOccurs="0" />
                    <xs:element name="bnftClmTn" type="xs:string" minOccurs="0" />
                    <xs:element name="brkrJrsdtnLctnId" type="xs:string" minOccurs="0" />
                    <xs:element name="cestUserId" type="xs:string" minOccurs="0" />
                    <xs:element name="clmId" type="xs:string" minOccurs="0" />
                    <xs:element name="clmJrsdtnLctnId" type="xs:string" minOccurs="0" />
                    <xs:element name="clmRcvdDt" type="xs:dateTime" minOccurs="0" />
                    <xs:element name="endPrdctChangeDt" type="xs:dateTime" minOccurs="0" />
                    <xs:element name="endPrdctTypeCd" type="xs:string" minOccurs="0" />
                    <xs:element name="lastCntctDt" type="xs:dateTime" minOccurs="0" />
                    <xs:element name="lctnId" type="xs:string" minOccurs="0" />
                    <xs:element name="openDt" type="xs:dateTime" minOccurs="0" />
                    <xs:element name="payeeCd" type="xs:string" minOccurs="0" />
                    <xs:element name="pgmTc" type="xs:string" minOccurs="0" />
                    <xs:element name="prirty" type="xs:string" minOccurs="0" />
                    <xs:element name="ptcpntClmantId" type="xs:string" minOccurs="0" />
                    <xs:element name="ptcpntDpositAcntId" type="xs:string" minOccurs="0" />
                    <xs:element name="ptcpntMailAddrsId" type="xs:string" minOccurs="0" />
                    <xs:element name="ptcpntPymtAddrsId" type="xs:string" minOccurs="0" />
                    <xs:element name="ptcpntVetId" type="xs:string" minOccurs="0" />
                    <xs:element name="sttTc" type="xs:string" minOccurs="0" />
                    <xs:element name="svcTc" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="benefitsExceptionBean">
        <xs:complexContent>
            <xs:extension base="tns:faultInfoBean">
                <xs:sequence>
                    <xs:element name="CALL_ID" type="xs:int" minOccurs="0" />
                    <xs:element name="DATASOURCE" type="xs:string" minOccurs="0" />
                    <xs:element name="DS_ERROR" type="xs:string" minOccurs="0" />
                    <xs:element name="DS_MESSAGE" type="xs:string" minOccurs="0" />
                    <xs:element name="FIELD_NAME" type="xs:string" minOccurs="0" />
                    <xs:element name="JRN_DT" type="xs:string" minOccurs="0" />
                    <xs:element name="JRN_LCTN_ID" type="xs:string" minOccurs="0" />
                    <xs:element name="JRN_OBJ_ID" type="xs:string" minOccurs="0" />
                    <xs:element name="JRN_STT_TC" type="xs:string" minOccurs="0" />
                    <xs:element name="JRN_USER_ID" type="xs:string" minOccurs="0" />
                    <xs:element name="LOG" type="xs:string" minOccurs="0" />
                    <xs:element name="ORA_MSG" type="xs:string" minOccurs="0" />
                    <xs:element name="PARENT_ID" type="xs:int" minOccurs="0" />
                    <xs:element name="PARENT_NAME" type="xs:string" minOccurs="0" />
                    <xs:element name="ROW_CNT" type="xs:int" minOccurs="0" />
                    <xs:element name="ROW_ID" type="xs:int" minOccurs="0" />
                    <xs:element name="ROW_NUM" type="xs:int" minOccurs="0" />
                    <xs:element name="TABLE_NAME" type="xs:string" minOccurs="0" />
                    <xs:element name="VN_ERROR" type="xs:int" minOccurs="0" />
                    <xs:element name="VN_MSG" type="xs:string" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="faultInfoBean">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getClaimAssociation">
        <xs:sequence>
            <xs:element name="veteranId" type="xs:string" minOccurs="0" />
            <xs:element name="profileDate" type="xs:dateTime" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getClaimAssociationResponse">
        <xs:sequence>
            <xs:element name="ClaimAssociation" type="tns:claimAssociation" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
</xs:schema>