Code/webservices-external/src/main/resources/wsdl/ContentionService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.mapd.benefits.vba.va.gov/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://services.mapd.benefits.vba.va.gov/" name="ContentionService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://services.mapd.benefits.vba.va.gov/"
                        schemaLocation="ContentionService.xsd"/>
        </xsd:schema>
    </types>
    <message name="manageContentions">
        <part name="parameters" element="tns:manageContentions"/>
    </message>
    <message name="manageContentionsResponse">
        <part name="parameters" element="tns:manageContentionsResponse"/>
    </message>
    <message name="BenefitsException">
        <part name="fault" element="tns:BenefitsException"/>
    </message>
    <message name="findContentions">
        <part name="parameters" element="tns:findContentions"/>
    </message>
    <message name="findContentionsResponse">
        <part name="parameters" element="tns:findContentionsResponse"/>
    </message>
    <message name="ClaimNotFoundException">
        <part name="fault" element="tns:ClaimNotFoundException"/>
    </message>
    <message name="findContentionsByPtcpntId">
        <part name="parameters" element="tns:findContentionsByPtcpntId"/>
    </message>
    <message name="findContentionsByPtcpntIdResponse">
        <part name="parameters" element="tns:findContentionsByPtcpntIdResponse"/>
    </message>
    <portType name="ContentionServiceRemote">
        <operation name="manageContentions">
            <input message="tns:manageContentions"/>
            <output message="tns:manageContentionsResponse"/>
            <fault message="tns:BenefitsException" name="BenefitsException"/>
        </operation>
        <operation name="findContentions">
            <input message="tns:findContentions"/>
            <output message="tns:findContentionsResponse"/>
            <fault message="tns:ClaimNotFoundException" name="ClaimNotFoundException"/>
            <fault message="tns:BenefitsException" name="BenefitsException"/>
        </operation>
        <operation name="findContentionsByPtcpntId">
            <input message="tns:findContentionsByPtcpntId"/>
            <output message="tns:findContentionsByPtcpntIdResponse"/>
            <fault message="tns:ClaimNotFoundException" name="ClaimNotFoundException"/>
            <fault message="tns:BenefitsException" name="BenefitsException"/>
        </operation>
    </portType>
    <binding name="ContentionServicePortBinding" type="tns:ContentionServiceRemote">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="manageContentions">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal"/>
            </fault>
        </operation>
        <operation name="findContentions">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ClaimNotFoundException">
                <soap:fault name="ClaimNotFoundException" use="literal"/>
            </fault>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal"/>
            </fault>
        </operation>
        <operation name="findContentionsByPtcpntId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="ClaimNotFoundException">
                <soap:fault name="ClaimNotFoundException" use="literal"/>
            </fault>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="ContentionService">
        <port name="ContentionServicePort" binding="tns:ContentionServicePortBinding">
            <soap:address location="http://bepdev.vba.va.gov:80/ContentionService/ContentionService"/>
        </port>
    </service>
</definitions>