Code/webservices-external/src/main/resources/wsdl/RatingManagementService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.rba.benefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.rba.benefits.vba.va.gov/" name="RatingManagementService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://services.rba.benefits.vba.va.gov/" schemaLocation="RatingManagementService.xsd" />
        </xsd:schema>
    </types>
    <message name="getRating">
        <part name="parameters" element="tns:getRating" />
    </message>
    <message name="getRatingResponse">
        <part name="parameters" element="tns:getRatingResponse" />
    </message>
    <message name="GetRatingException">
        <part name="fault" element="tns:GetRatingException" />
    </message>
    <message name="BenefitsException">
        <part name="fault" element="tns:BenefitsException" />
    </message>
    <message name="getRatingForAwards">
        <part name="parameters" element="tns:getRatingForAwards" />
    </message>
    <message name="getRatingForAwardsResponse">
        <part name="parameters" element="tns:getRatingForAwardsResponse" />
    </message>
    <message name="readCompletedRating">
        <part name="parameters" element="tns:readCompletedRating" />
    </message>
    <message name="readCompletedRatingResponse">
        <part name="parameters" element="tns:readCompletedRatingResponse" />
    </message>
    <message name="readIncompleteRating">
        <part name="parameters" element="tns:readIncompleteRating" />
    </message>
    <message name="readIncompleteRatingResponse">
        <part name="parameters" element="tns:readIncompleteRatingResponse" />
    </message>
    <message name="readNewRating">
        <part name="parameters" element="tns:readNewRating" />
    </message>
    <message name="readNewRatingResponse">
        <part name="parameters" element="tns:readNewRatingResponse" />
    </message>
    <message name="readNewRatingNoDES">
        <part name="parameters" element="tns:readNewRatingNoDES" />
    </message>
    <message name="readNewRatingNoDESResponse">
        <part name="parameters" element="tns:readNewRatingNoDESResponse" />
    </message>
    <message name="unlockRating">
        <part name="parameters" element="tns:unlockRating" />
    </message>
    <message name="unlockRatingResponse">
        <part name="parameters" element="tns:unlockRatingResponse" />
    </message>
    <message name="strictUnlockRating">
        <part name="parameters" element="tns:strictUnlockRating" />
    </message>
    <message name="strictUnlockRatingResponse">
        <part name="parameters" element="tns:strictUnlockRatingResponse" />
    </message>
    <message name="readNewRatingDESWrap">
        <part name="parameters" element="tns:readNewRatingDESWrap" />
    </message>
    <message name="readNewRatingDESWrapResponse">
        <part name="parameters" element="tns:readNewRatingDESWrapResponse" />
    </message>
    <message name="readNewRatingNoDESWrap">
        <part name="parameters" element="tns:readNewRatingNoDESWrap" />
    </message>
    <message name="readNewRatingNoDESWrapResponse">
        <part name="parameters" element="tns:readNewRatingNoDESWrapResponse" />
    </message>
    <message name="reprintRating">
        <part name="parameters" element="tns:reprintRating" />
    </message>
    <message name="reprintRatingResponse">
        <part name="parameters" element="tns:reprintRatingResponse" />
    </message>
    <message name="readCombinedRatingDetail">
        <part name="parameters" element="tns:readCombinedRatingDetail" />
    </message>
    <message name="readCombinedRatingDetailResponse">
        <part name="parameters" element="tns:readCombinedRatingDetailResponse" />
    </message>
    <message name="recalculateCombinedRatingDetail">
        <part name="parameters" element="tns:recalculateCombinedRatingDetail" />
    </message>
    <message name="recalculateCombinedRatingDetailResponse">
        <part name="parameters" element="tns:recalculateCombinedRatingDetailResponse" />
    </message>
    <portType name="RatingManagementServiceRemote">
        <operation name="getRating">
            <input message="tns:getRating" />
            <output message="tns:getRatingResponse" />
            <fault message="tns:GetRatingException" name="GetRatingException" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="getRatingForAwards">
            <input message="tns:getRatingForAwards" />
            <output message="tns:getRatingForAwardsResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="readCompletedRating">
            <input message="tns:readCompletedRating" />
            <output message="tns:readCompletedRatingResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="readIncompleteRating">
            <input message="tns:readIncompleteRating" />
            <output message="tns:readIncompleteRatingResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="readNewRating">
            <input message="tns:readNewRating" />
            <output message="tns:readNewRatingResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="readNewRatingNoDES">
            <input message="tns:readNewRatingNoDES" />
            <output message="tns:readNewRatingNoDESResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="unlockRating">
            <input message="tns:unlockRating" />
            <output message="tns:unlockRatingResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="strictUnlockRating">
            <input message="tns:strictUnlockRating" />
            <output message="tns:strictUnlockRatingResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="readNewRatingDESWrap">
            <input message="tns:readNewRatingDESWrap" />
            <output message="tns:readNewRatingDESWrapResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="readNewRatingNoDESWrap">
            <input message="tns:readNewRatingNoDESWrap" />
            <output message="tns:readNewRatingNoDESWrapResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="reprintRating">
            <input message="tns:reprintRating" />
            <output message="tns:reprintRatingResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="readCombinedRatingDetail">
            <input message="tns:readCombinedRatingDetail" />
            <output message="tns:readCombinedRatingDetailResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="recalculateCombinedRatingDetail">
            <input message="tns:recalculateCombinedRatingDetail" />
            <output message="tns:recalculateCombinedRatingDetailResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
    </portType>
    <binding name="RatingManagementServicePortBinding" type="tns:RatingManagementServiceRemote">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="getRating">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="GetRatingException">
                <soap:fault name="GetRatingException" use="literal" />
            </fault>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="getRatingForAwards">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="readCompletedRating">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="readIncompleteRating">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="readNewRating">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="readNewRatingNoDES">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="unlockRating">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="strictUnlockRating">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="readNewRatingDESWrap">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="readNewRatingNoDESWrap">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="reprintRating">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="readCombinedRatingDetail">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="recalculateCombinedRatingDetail">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
    </binding>
    <service name="RatingManagementService">
        <port name="RatingManagementServicePort" binding="tns:RatingManagementServicePortBinding">
            <soap:address location="http://bepdev.vba.va.gov:80/RatingManagementService/RatingManagementService" />
        </port>
    </service>
</definitions>