Code/webservices-external/src/main/resources/wsdl/RatingCombinatorService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.rba.benefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.rba.benefits.vba.va.gov/" name="RatingCombinatorService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://services.rba.benefits.vba.va.gov/" schemaLocation="RatingCombinatorService.xsd" />
        </xsd:schema>
    </types>
    <message name="buildCombinedPercentOmnibus">
        <part name="parameters" element="tns:buildCombinedPercentOmnibus" />
    </message>
    <message name="buildCombinedPercentOmnibusResponse">
        <part name="parameters" element="tns:buildCombinedPercentOmnibusResponse" />
    </message>
    <message name="BenefitsException">
        <part name="fault" element="tns:BenefitsException" />
    </message>
    <message name="buildCombinedPercent">
        <part name="parameters" element="tns:buildCombinedPercent" />
    </message>
    <message name="buildCombinedPercentResponse">
        <part name="parameters" element="tns:buildCombinedPercentResponse" />
    </message>
    <message name="buildCombinedPercentNoIU">
        <part name="parameters" element="tns:buildCombinedPercentNoIU" />
    </message>
    <message name="buildCombinedPercentNoIUResponse">
        <part name="parameters" element="tns:buildCombinedPercentNoIUResponse" />
    </message>
    <portType name="RatingCombinatorServiceRemote">
        <operation name="buildCombinedPercentOmnibus">
            <input message="tns:buildCombinedPercentOmnibus" />
            <output message="tns:buildCombinedPercentOmnibusResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="buildCombinedPercent">
            <input message="tns:buildCombinedPercent" />
            <output message="tns:buildCombinedPercentResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="buildCombinedPercentNoIU">
            <input message="tns:buildCombinedPercentNoIU" />
            <output message="tns:buildCombinedPercentNoIUResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
    </portType>
    <binding name="RatingCombinatorServicePortBinding" type="tns:RatingCombinatorServiceRemote">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="buildCombinedPercentOmnibus">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="buildCombinedPercent">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="buildCombinedPercentNoIU">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
    </binding>
    <service name="RatingCombinatorService">
        <port name="RatingCombinatorServicePort" binding="tns:RatingCombinatorServicePortBinding">
            <soap:address location="http://bepdev.vba.va.gov:80/RatingCombinatorService/RatingCombinatorService" />
        </port>
    </service>
</definitions>