Code/webservices-external/src/main/resources/wsdl/RatingInformationService.wsdl

<!--
 Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt).
-->
<!--
 Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt).
-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.rba.benefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.rba.benefits.vba.va.gov/" name="RatingInformationService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://services.rba.benefits.vba.va.gov/" schemaLocation="RatingInformationService.xsd"/>
        </xsd:schema>
    </types>
    <message name="readRatingProfile">
        <part name="parameters" element="tns:readRatingProfile"/>
    </message>
    <message name="readRatingProfileResponse">
        <part name="parameters" element="tns:readRatingProfileResponse"/>
    </message>
    <message name="BenefitsException">
        <part name="fault" element="tns:BenefitsException"/>
    </message>
    <message name="readCurrentRatingProfile">
        <part name="parameters" element="tns:readCurrentRatingProfile"/>
    </message>
    <message name="readCurrentRatingProfileResponse">
        <part name="parameters" element="tns:readCurrentRatingProfileResponse"/>
    </message>
    <message name="readCurrentDisabilities">
        <part name="parameters" element="tns:readCurrentDisabilities"/>
    </message>
    <message name="readCurrentDisabilitiesResponse">
        <part name="parameters" element="tns:readCurrentDisabilitiesResponse"/>
    </message>
    <message name="readCurrentDisabilitiesWithIU">
        <part name="parameters" element="tns:readCurrentDisabilitiesWithIU"/>
    </message>
    <message name="readCurrentDisabilitiesWithIUResponse">
        <part name="parameters" element="tns:readCurrentDisabilitiesWithIUResponse"/>
    </message>
    <portType name="RatingInformationServiceRemote">
        <operation name="readRatingProfile">
            <input message="tns:readRatingProfile"/>
            <output message="tns:readRatingProfileResponse"/>
            <fault message="tns:BenefitsException" name="BenefitsException"/>
        </operation>
        <operation name="readCurrentRatingProfile">
            <input message="tns:readCurrentRatingProfile"/>
            <output message="tns:readCurrentRatingProfileResponse"/>
            <fault message="tns:BenefitsException" name="BenefitsException"/>
        </operation>
        <operation name="readCurrentDisabilities">
            <input message="tns:readCurrentDisabilities"/>
            <output message="tns:readCurrentDisabilitiesResponse"/>
            <fault message="tns:BenefitsException" name="BenefitsException"/>
        </operation>
        <operation name="readCurrentDisabilitiesWithIU">
            <input message="tns:readCurrentDisabilitiesWithIU"/>
            <output message="tns:readCurrentDisabilitiesWithIUResponse"/>
            <fault message="tns:BenefitsException" name="BenefitsException"/>
        </operation>
    </portType>
    <binding name="RatingInformationServicePortBinding" type="tns:RatingInformationServiceRemote">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="readRatingProfile">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal"/>
            </fault>
        </operation>
        <operation name="readCurrentRatingProfile">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal"/>
            </fault>
        </operation>
        <operation name="readCurrentDisabilities">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal"/>
            </fault>
        </operation>
        <operation name="readCurrentDisabilitiesWithIU">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="RatingInformationService">
        <port name="RatingInformationServicePort" binding="tns:RatingInformationServicePortBinding">
            <soap:address location="http://bepdev.vba.va.gov:80/RatingInformationService/RatingInformationService"/>
        </port>
    </service>
</definitions>