Code/webservices-external/src/main/resources/wsdl/RatingUpdateService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.rba.benefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.rba.benefits.vba.va.gov/" name="RatingUpdateService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://services.rba.benefits.vba.va.gov/" schemaLocation="RatingUpdateService.xsd" />
        </xsd:schema>
    </types>
    <message name="manageRatingProfile">
        <part name="parameters" element="tns:manageRatingProfile" />
    </message>
    <message name="manageRatingProfileResponse">
        <part name="parameters" element="tns:manageRatingProfileResponse" />
    </message>
    <message name="DataValidationException">
        <part name="fault" element="tns:DataValidationFault" />
    </message>
    <message name="BenefitsException">
        <part name="fault" element="tns:BenefitsException" />
    </message>
    <message name="manageRatingProfileForAwards">
        <part name="parameters" element="tns:manageRatingProfileForAwards" />
    </message>
    <message name="manageRatingProfileForAwardsResponse">
        <part name="parameters" element="tns:manageRatingProfileForAwardsResponse" />
    </message>
    <portType name="RatingUpdateServiceRemote">
        <operation name="manageRatingProfile">
            <input message="tns:manageRatingProfile" />
            <output message="tns:manageRatingProfileResponse" />
            <fault message="tns:DataValidationException" name="DataValidationException" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="manageRatingProfileForAwards">
            <input message="tns:manageRatingProfileForAwards" />
            <output message="tns:manageRatingProfileForAwardsResponse" />
            <fault message="tns:DataValidationException" name="DataValidationException" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
    </portType>
    <binding name="RatingUpdateServicePortBinding" type="tns:RatingUpdateServiceRemote">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="manageRatingProfile">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="DataValidationException">
                <soap:fault name="DataValidationException" use="literal" />
            </fault>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="manageRatingProfileForAwards">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="DataValidationException">
                <soap:fault name="DataValidationException" use="literal" />
            </fault>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
    </binding>
    <service name="RatingUpdateService">
        <port name="RatingUpdateServicePort" binding="tns:RatingUpdateServicePortBinding">
            <soap:address location="http://bepdev.vba.va.gov:80/RatingUpdateService/RatingUpdateService" />
        </port>
    </service>
</definitions>