Code/webservices-external/src/main/resources/wsdl/RbaWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://rba.services.vetsnet.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://rba.services.vetsnet.vba.va.gov/" name="RbaWebService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://rba.services.vetsnet.vba.va.gov/" schemaLocation="RbaWebService.xsd" />
        </xsd:schema>
    </types>
    <message name="reassignRbaPrfil">
        <part name="parameters" element="tns:reassignRbaPrfil" />
    </message>
    <message name="reassignRbaPrfilResponse">
        <part name="parameters" element="tns:reassignRbaPrfilResponse" />
    </message>
    <message name="MessageException">
        <part name="fault" element="tns:MessageException" />
    </message>
    <message name="reassignRbaPrfilToUser">
        <part name="parameters" element="tns:reassignRbaPrfilToUser" />
    </message>
    <message name="reassignRbaPrfilToUserResponse">
        <part name="parameters" element="tns:reassignRbaPrfilToUserResponse" />
    </message>
    <portType name="RbaWebService">
        <operation name="reassignRbaPrfil">
            <input message="tns:reassignRbaPrfil" />
            <output message="tns:reassignRbaPrfilResponse" />
            <fault message="tns:MessageException" name="MessageException" />
        </operation>
        <operation name="reassignRbaPrfilToUser">
            <input message="tns:reassignRbaPrfilToUser" />
            <output message="tns:reassignRbaPrfilToUserResponse" />
            <fault message="tns:MessageException" name="MessageException" />
        </operation>
    </portType>
    <binding name="RbaWebServicePortBinding" type="tns:RbaWebService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="reassignRbaPrfil">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="MessageException">
                <soap:fault name="MessageException" use="literal" />
            </fault>
        </operation>
        <operation name="reassignRbaPrfilToUser">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="MessageException">
                <soap:fault name="MessageException" use="literal" />
            </fault>
        </operation>
    </binding>
    <service name="RbaWebService">
        <port name="RbaWebServicePort" binding="tns:RbaWebServicePortBinding">
            <soap:address location="http://bepdev.vba.va.gov:80/RbaWebServiceBean/RbaWebService" />
        </port>
    </service>
</definitions>