Code/webservices-external/src/main/resources/wsdl/TrackedItemService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.mapd.benefits.vba.va.gov/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.mapd.benefits.vba.va.gov/" name="TrackedItemService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://services.mapd.benefits.vba.va.gov/" schemaLocation="TrackedItemService.xsd" />
        </xsd:schema>
    </types>
    <message name="findTrackedItems">
        <part name="parameters" element="tns:findTrackedItems" />
    </message>
    <message name="findTrackedItemsResponse">
        <part name="parameters" element="tns:findTrackedItemsResponse" />
    </message>
    <message name="BenefitsException">
        <part name="fault" element="tns:BenefitsException" />
    </message>
    <message name="createTrackedItems">
        <part name="parameters" element="tns:createTrackedItems" />
    </message>
    <message name="createTrackedItemsResponse">
        <part name="parameters" element="tns:createTrackedItemsResponse" />
    </message>
    <message name="ManageTrackedItems">
        <part name="parameters" element="tns:ManageTrackedItems" />
    </message>
    <message name="ManageTrackedItemsResponse">
        <part name="parameters" element="tns:ManageTrackedItemsResponse" />
    </message>
    <message name="manageUnsolicitedEvidence">
        <part name="parameters" element="tns:manageUnsolicitedEvidence" />
    </message>
    <message name="manageUnsolicitedEvidenceResponse">
        <part name="parameters" element="tns:manageUnsolicitedEvidenceResponse" />
    </message>
    <message name="findUnsolEvdnce">
        <part name="parameters" element="tns:findUnsolEvdnce" />
    </message>
    <message name="findUnsolEvdnceResponse">
        <part name="parameters" element="tns:findUnsolEvdnceResponse" />
    </message>
    <message name="deleteTrackedItems">
        <part name="parameters" element="tns:deleteTrackedItems" />
    </message>
    <message name="deleteTrackedItemsResponse">
        <part name="parameters" element="tns:deleteTrackedItemsResponse" />
    </message>
    <message name="RequiredFieldException">
        <part name="fault" element="tns:RequiredFieldException" />
    </message>
    <message name="findTrackedItemsByFileNumber">
        <part name="parameters" element="tns:findTrackedItemsByFileNumber" />
    </message>
    <message name="findTrackedItemsByFileNumberResponse">
        <part name="parameters" element="tns:findTrackedItemsByFileNumberResponse" />
    </message>
    <message name="findTrackedItemsByPtcpntId">
        <part name="parameters" element="tns:findTrackedItemsByPtcpntId" />
    </message>
    <message name="findTrackedItemsByPtcpntIdResponse">
        <part name="parameters" element="tns:findTrackedItemsByPtcpntIdResponse" />
    </message>
    <message name="findTrackedItemsByDocId">
        <part name="parameters" element="tns:findTrackedItemsByDocId" />
    </message>
    <message name="findTrackedItemsByDocIdResponse">
        <part name="parameters" element="tns:findTrackedItemsByDocIdResponse" />
    </message>
    <portType name="TrackedItemServiceRemote">
        <operation name="findTrackedItems">
            <input message="tns:findTrackedItems" />
            <output message="tns:findTrackedItemsResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="createTrackedItems">
            <input message="tns:createTrackedItems" />
            <output message="tns:createTrackedItemsResponse" />
        </operation>
        <operation name="ManageTrackedItems">
            <input message="tns:ManageTrackedItems" />
            <output message="tns:ManageTrackedItemsResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="manageUnsolicitedEvidence">
            <input message="tns:manageUnsolicitedEvidence" />
            <output message="tns:manageUnsolicitedEvidenceResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="findUnsolEvdnce">
            <input message="tns:findUnsolEvdnce" />
            <output message="tns:findUnsolEvdnceResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="deleteTrackedItems">
            <input message="tns:deleteTrackedItems" />
            <output message="tns:deleteTrackedItemsResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
            <fault message="tns:RequiredFieldException" name="RequiredFieldException" />
        </operation>
        <operation name="findTrackedItemsByFileNumber">
            <input message="tns:findTrackedItemsByFileNumber" />
            <output message="tns:findTrackedItemsByFileNumberResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="findTrackedItemsByPtcpntId">
            <input message="tns:findTrackedItemsByPtcpntId" />
            <output message="tns:findTrackedItemsByPtcpntIdResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
        <operation name="findTrackedItemsByDocId">
            <input message="tns:findTrackedItemsByDocId" />
            <output message="tns:findTrackedItemsByDocIdResponse" />
            <fault message="tns:BenefitsException" name="BenefitsException" />
        </operation>
    </portType>
    <binding name="TrackedItemServicePortBinding" type="tns:TrackedItemServiceRemote">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <operation name="findTrackedItems">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="createTrackedItems">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="ManageTrackedItems">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="manageUnsolicitedEvidence">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="findUnsolEvdnce">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="deleteTrackedItems">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
            <fault name="RequiredFieldException">
                <soap:fault name="RequiredFieldException" use="literal" />
            </fault>
        </operation>
        <operation name="findTrackedItemsByFileNumber">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="findTrackedItemsByPtcpntId">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
        <operation name="findTrackedItemsByDocId">
            <soap:operation soapAction="" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
            <fault name="BenefitsException">
                <soap:fault name="BenefitsException" use="literal" />
            </fault>
        </operation>
    </binding>
    <service name="TrackedItemService">
        <port name="TrackedItemServicePort" binding="tns:TrackedItemServicePortBinding">
            <soap:address location="http://bepdev.vba.va.gov:80/TrackedItemService/TrackedItemService" />
        </port>
    </service>
</definitions>