Code/webservices-external/src/main/resources/wsdl/vbms/eDocumentServiceV4.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). -->
<xsd:schema xmlns:tns="http://vbms.vba.va.gov/external/eDocumentService/v4"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:participant="http://vbms.vba.va.gov/cdm/participant/v4"
            xmlns:document="http://vbms.vba.va.gov/cdm/document/v4"
            xmlns:common="http://vbms.vba.va.gov/cdm/common/v4"
            version="1.0" targetNamespace="http://vbms.vba.va.gov/external/eDocumentService/v4" elementFormDefault="qualified">

    <xsd:import namespace="http://vbms.vba.va.gov/cdm/document/v4"
                schemaLocation="schemas/document/Document-v4.xsd"/>

    <xsd:import namespace="http://vbms.vba.va.gov/cdm/common/v4"
                schemaLocation="schemas/common/Common-v4.xsd"/>

    <xsd:import namespace="http://vbms.vba.va.gov/cdm/participant/v4"
                schemaLocation="schemas/participant/Participant-v4.xsd"/>

    <xsd:element name="uploadDocument">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element maxOccurs="1" minOccurs="1" name="veteran" type="participant:Veteran"/>

                <xsd:element maxOccurs="1" minOccurs="1" name="document" type="document:Document"/>

                <xsd:element maxOccurs="1" minOccurs="1" name="documentContent" type="document:DocumentContent"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="uploadDocumentResponse">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element name="message" type="xsd:string"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="uploadLetterDocument">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element maxOccurs="1" minOccurs="1" name="document" type="document:LetterDocument"/>

                <xsd:element maxOccurs="1" minOccurs="1" name="documentContent" type="document:DocumentContent"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="uploadLetterDocumentResponse">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element name="message" type="xsd:string"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="fetchDocument">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element maxOccurs="1" minOccurs="1" name="veteran" type="participant:Veteran"/>

                <xsd:element maxOccurs="1" minOccurs="1" name="query" type="document:Document"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="fetchDocumentResponse">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element maxOccurs="1" minOccurs="1" name="result" type="tns:DocumentWithContentResponse"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="getDocumentTypes">

        <xsd:complexType>

            <xsd:sequence>
            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="getDocumentTypesResponse">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element maxOccurs="unbounded" minOccurs="0" name="result" type="document:DocumentType"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="uploadFormDocument">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element maxOccurs="1" minOccurs="1" name="formDocument" type="document:FormDocument"/>

                <xsd:element maxOccurs="1" minOccurs="1" name="documentContent" type="document:DocumentContent"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="uploadFormDocumentResponse">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element name="message" type="xsd:string"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="getFormFieldsForDocumentType">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element maxOccurs="1" minOccurs="1" name="documentType" type="xsd:string"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:complexType name="DocumentWithContentResponse">

        <xsd:sequence>

            <xsd:element name="document" type="document:Document"/>

            <xsd:element name="content" type="document:DocumentContent"/>

        </xsd:sequence>

    </xsd:complexType>

    <xsd:element name="getFormFieldsForDocumentTypeResponse">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element maxOccurs="unbounded" minOccurs="0" name="result" type="document:FormField"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:simpleType name="FormFieldErrorType">

        <xsd:restriction base="xsd:string">

            <xsd:enumeration value="MISSING_REQUIRED_FIELD"/>

            <xsd:enumeration value="EXCEEDED_MAXIMUM_LENGTH"/>

        </xsd:restriction>

    </xsd:simpleType>

    <xsd:complexType name="FormFieldError">

        <xsd:sequence>

            <xsd:element name="fieldName" type="xsd:string"/>

            <xsd:element name="errorType" type="tns:FormFieldErrorType"/>

            <xsd:element name="message" type="xsd:string"/>

        </xsd:sequence>

    </xsd:complexType>

    <xsd:complexType name="DataValidationFaultDetailBean">

        <xsd:sequence>

            <xsd:element maxOccurs="unbounded" minOccurs="0" name="formFieldErrors" type="tns:FormFieldError"/>

        </xsd:sequence>

    </xsd:complexType>


    <xsd:element name="dataValidationFaultDetailBean" type="tns:DataValidationFaultDetailBean"/>

    <!-- v2.2 new -->

    <xsd:complexType name="ConvertedDocumentResponse">

        <xsd:sequence>

            <xsd:element maxOccurs="1" minOccurs="1" name="originalDocument" type="document:Document"/>

            <xsd:element maxOccurs="unbounded" minOccurs="0" name="convertedDocuments" type="document:Document"/>

        </xsd:sequence>

    </xsd:complexType>

    <xsd:element name="uploadDocumentWithAssociations">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element maxOccurs="1" minOccurs="1" name="document" type="document:Document"/>

                <xsd:element maxOccurs="unbounded" minOccurs="0" name="documentAssociations"
                             type="document:DocumentAssociationInput"/>

                <xsd:element maxOccurs="1" minOccurs="1" name="documentContent" type="document:DocumentContent"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="uploadDocumentWithAssociationsResponse">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element name="result" type="tns:ConvertedDocumentResponse"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="listDocuments">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element maxOccurs="1" minOccurs="1" name="fileNumber" type="common:FileNumber"/>

                <xsd:element maxOccurs="unbounded" minOccurs="0" name="documentAssociations"
                             type="document:DocumentAssociationInput"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="listDocumentsByDocumentTypeId">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element maxOccurs="1" minOccurs="1" name="fileNumber" type="common:FileNumber"/>

                <xsd:element maxOccurs="1" minOccurs="1" name="documentTypeId" type="xsd:string"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="listDocumentsResponse">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element maxOccurs="unbounded" minOccurs="0" name="result" type="document:Document"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="listDocumentsByDocumentTypeIdResponse">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element maxOccurs="unbounded" minOccurs="0" name="result" type="document:Document"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="fetchDocumentById">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element maxOccurs="1" minOccurs="1" name="documentId" type="document:DocumentId"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="faultDetailBean" type="common:FaultDetailBean"/>
    <!-- 4.2 -->

    <xsd:element name="notifyPackageScanned">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element maxOccurs="1" minOccurs="1" name="docPackage" type="document:DocumentPackage"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="notifyPackageScannedResponse">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element maxOccurs="1" minOccurs="1" name="result" type="xsd:string"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="notifyPackageComplete">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element maxOccurs="1" minOccurs="1" name="packageId" type="xsd:string"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

    <xsd:element name="notifyPackageCompleteResponse">

        <xsd:complexType>

            <xsd:sequence>

                <xsd:element maxOccurs="1" minOccurs="1" name="result" type="xsd:string"/>

            </xsd:sequence>

        </xsd:complexType>

    </xsd:element>

</xsd:schema>